{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/deposita_propina.css' %}">
    <script src="https://sdk.mercadopago.com/js/v2"></script>
</head>
<body>

    <div class="wrapper-container" >

        <div class="wrapper">

            <h1 class="centered-title">¡Estás en {{ comercio.nombre_comercio }}!</h1>
            <h2>Ingresa tu propina:</h2>
            <form action="{% url 'deposita_propina' comercio_id=comercio.id %}" method="POST">
                <input type="hidden" name="csrfmiddlewaretoken" value="[CSRF_TOKEN]">
                <div class="form-group">
                    <input type="number" name="monto" id="monto" placeholder="Propina" step="0.01" inputmode="decimal" required>
                    <p class="errors">{{ form.monto.errors }}</p>
                </div>
                <h2>Selecciona un método de pago</h2>
                <div class="wallet-wrapper">
                    <div id="wallet_container"></div>
                    <!--<div class="wallet-modo">
                        <button onclick="showModal()"></button>
                    </div>-->
                </div>
            </form>

        </div>

    </div>  
    
    
    <script src="{% static '/js/deposita_propina.js' %}"></script>
</body>
{% endblock %}
</html>

