/* Estilos generales */
.wrapper-container {
    font-family: Arial, sans-serif;
    background: #000000;
    background: linear-gradient(to right, #161616, #000000);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 20px;
}

.wrapper {
    width: 100%;
    max-width: 750px;
    background: #009EE3;
    border: 2px solid #009EE3;
    border-radius: 10px;
    color: #fff;
    padding: 40px 35px 55px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.wrapper .input-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    background: transparent;
    margin-bottom: 20px;
}

.input-box .input-field {
    position: relative;
    width: 100%;
    margin: 13px 0;
}

.input-box .input-field span.details {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-box .input-field input,
.input-box .input-field select {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
}

.input-box .input-field input:focus,
.input-box .input-field select:focus {
    border-color: #006ba1;
}

button.btn {
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.btn:hover {
    background-color: #004f7a;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .wrapper {
        padding: 30px 25px 45px;
    }

    .wrapper h1 {
        font-size: 28px;
    }

    .input-box .input-field {
        margin: 10px 0;
    }

    .input-box .input-field input,
    .input-box .input-field select {
        font-size: 14px;
        padding: 8px 12px;
    }

    button.btn {
        padding: 12px 0;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .wrapper {
        padding: 20px 15px 35px;
    }

    .wrapper h1 {
        font-size: 24px;
    }

    .input-box .input-field input,
    .input-box .input-field select {
        font-size: 12px;
        padding: 6px 10px;
    }

    button.btn {
        padding: 10px 0;
        font-size: 14px;
    }
}




