{% extends 'web/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}

{% block content %}
<div class="edit-perfil-container">
    <div class="edit-perfil-wrapper"> 
        <h1 class="centered-title edit-title">Cambiar Contraseña</h1>

        <form method="POST" class="form-container">
            {% csrf_token %}

            {% if form.errors %}
                <div class="alert-error-container">
                    <p class="error-header">Hay errores en el formulario:</p>
                    <ul class="error-list">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="login-input-box">
                <input type="password" name="old_password" placeholder="Contraseña actual" required>
                <i class='bx bxs-lock-open'></i>
            </div>
            
            <div class="login-input-box">
                <input type="password" name="new_password1" placeholder="Nueva contraseña" required>
                <i class='bx bxs-lock-alt'></i>
            </div>

            <div class="login-input-box">
                <input type="password" name="new_password2" placeholder="Confirmar nueva contraseña" required>
                <i class='bx bxs-lock-alt'></i>
            </div>

            <div class="botones-accion">
                <button type="submit" class="btn btn-secundario">Cambiar Contraseña</button>
            </div>

            <div class="botones-accion separator-top">
                {% if user.propietario %}
                    <a href="{% url 'editar_perfil_propietario' %}" class="btn btn-secundario">Cancelar</a>
                {% else %}
                    <a href="{% url 'editar_perfil_empleado' %}" class="btn btn-secundario">Cancelar</a>
                {% endif %}
            </div>

        </form>
    </div>
</div>
{% endblock %}





