{% extends 'web/base.html' %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/account.css' %}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    {% endblock %}
    <title>Login</title>
</head>

{% block content %}

    <div class="login-wrapper-container">     

        <div class="login-wrapper">

            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <h1>Login</h1>

                {{ error }}
                <div class="login-input-box">
                    <input type="text" id="username" name="username" placeholder="Usuario" required>
                    <i class='bx bxs-user'></i>
                </div>

                <div class="login-input-box">
                    <input type="password" id="password" name="password" placeholder="Contraseña" required>
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <div class="login-remember-forgot">
                    <label>
                        <input type="checkbox" name="remember_me">Recuerdame
                    </label>
                    <a href="{% url 'olvidar_contrasena' %}">Olvidé mi contraseña</a>
                </div>

                <button type="submit" class="btn" >Login</button>

                <div class="login-register-link">
                    <p>¿No tenes Proppi? <a href="{% url 'crear_cuenta' %}">Registrarse</a></p>
                </div>

                

            </form>
        
        </div>

    </div>


{% endblock %}


