{% extends 'web/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block content %}
<div class="login-wrapper-container">
    <div class="login-wrapper" style="text-align: center;">
        <i class='bx bxs-check-circle' style="font-size: 80px; color: #28a745; margin-bottom: 20px;"></i>
        <h1>¡Contraseña Actualizada!</h1>
        <p style="margin: 20px 0;">Tu contraseña ha sido restablecida con éxito. Ya podés volver a ingresar a tu cuenta de Proppi.</p>
        
        <a href="{% url 'login' %}" class="btn" style="display: inline-block; line-height: 45px; text-decoration: none; color: #333;">Ir a Iniciar Sesión</a>
    </div>
</div>
{% endblock %}