{% extends 'base.html' %}
 {% load static %}

    {% block content %}

    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/regcom.css' %}">
</head>

<body>
    <div class="wrapper-container">

        <div class="wrapper">
    
            <form action="/crearcuenta/agregar_comercio/" method="POST">
                {% csrf_token %}
                

                <h1 class="centered-title">Paso 1: Registra tu comercio</h1>
                {% if form.non_field_errors %}
                    <div class="error">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="input-box">
                    <div class="input-field">
                        <span class="details">Nombre del comercio:</span>
                        {{ form.nombre_comercio }}
                    </div>
                </div>
    
                <div class="input-box">
                    <div class="input-field">
                        <span class="details">Tipo:</span>
                        {{ form.tipo_comercio }}
                    </div>
                </div>
    
                <div class="input-box">
                    <div class="input-field">
                        <span class="details">Ciudad:</span>
                        {{ form.ciudad }}
                    </div>
                </div>
                

                <div class="input-box">
                    <div class="input-field">
                        <span class="details">Nombre de la calle donde se encuentra ubicado:</span>
                        {{ form.nombre_calle }}
                    </div>
                </div>
    
                <div class="input-box">
                    <div class="input-field">
                        <span class="details">Numero Calle:</span>
                        {{ form.numero_calle }}
                    </div>
                </div>

                <button type="submit" class="btn">
                    Guardar
                </button>
            </form>
    
        </div>
    
    </div>
    

</body>
{% endblock %}
</html>
        