{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Comercios</title>
    <link rel="stylesheet" href="{% static 'css/mis_comercios.css' %}">
    <script src="{% static 'js/comercios.js' %}" defer></script>
</head>
<body>
    <div class="mis-comercios-container">

        <div class="comercio-list">
            <h1>Mis comercios</h1>

            <div class="comercios-flexbox">
                {% for comercio in comercios %}
                    <a href="{% url 'detalle_comercio' comercio.id %}" class="comercio-item">
                        <div class="comercio-content">
                            <h3>{{ comercio.nombre_comercio }}</h3>
                            <p>{{ comercio.direccion }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
            
        </div>

    </div>
</body>

{% endblock %}
</html>

