{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/recuperar_contra.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="wrapper-container">

        <div class="wrapper">
            <h1>Recupera tu contraseña:</h1>
            <div class="input-box">
                <input type="text" id="email" name="email" placeholder="Email" required>
            </div>


            <button type="submit" class="btn">Enviar mail</button>



        </div>
    </div>
</body>

{% endblock %}
</html>