/* Contenedor principal de la página */
.wrapper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000000;
    background: linear-gradient(to right, #161616, #000000);
}

/* Contenedor del contenido */
.wrapper {
    background: #fff; /* Fondo blanco para el contenido */
    padding: 20px;
    border-radius: 8px; /* Bordes redondeados */
    background: linear-gradient(to right, #161616, #000000);
    max-width: 400px; /* Ancho máximo del contenedor */
    width: 100%; /* Asegura que el contenedor se ajuste al ancho disponible */
}

/* Título centrado */
.centered-title {
    text-align: center;
    font-size: 24px;
    color: #ffffff; /* Color del texto del título */
    margin-bottom: 10px;
}

/* Estilo del párrafo */
p {
    text-align: center;
    font-size: 16px;
    color: #ffffff; /* Color del texto del párrafo */
    margin-bottom: 20px;
}

/* Estilo del formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espacio entre elementos del formulario */
}

/* Estilo para el grupo de campos del formulario */
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; /* Espacio entre el campo de entrada y el mensaje de error */
}

/* Campo de entrada */
input[type="number"] {
    padding: 10px;
    border: 1px solid #ddd; /* Borde del campo de entrada */
    border-radius: 4px; /* Bordes redondeados del campo de entrada */
    font-size: 16px; /* Tamaño del texto */
    width: 50%; /* Ancho completo del campo de entrada */
}

/* Mensaje de error */
.errors {
    color: #e74c3c; /* Color rojo para los mensajes de error */
    font-size: 14px; /* Tamaño del texto del mensaje de error */
}

/* Estilo del subtítulo */
h2 {
    font-size: 18px;
    color: #ffffff; /* Color del texto del subtítulo */
    margin-bottom: 15px;
    text-align: center;
}

/* Contenedor de la cartera */
.wallet-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid #ddd; /* Línea divisoria superior */
}

.wallet-modo button {
    width: 296px; /* Ancho del botón */
    height: 56px; /* Altura del botón */
    background-color: #00a680; /* Color de fondo de Mercado Pago */
    color: white; /* Color del texto */
    border: none; /* Sin bordes */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de la fuente */
    cursor: pointer; /* Cursor cambia a pointer */
    text-align: center; /* Centrar el texto */
    line-height: 45px; /* Alinear verticalmente el texto */
    background-image: url('/static/images/modo.png'); /* Ruta de la imagen */
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center; /* Posición de la imagen dentro del botón */
    padding-left: 50px; /* Espacio para la imagen */
    image-rendering: -webkit-optimize-contrast; /* Para navegadores webkit */
    image-rendering: crisp-edges; /* Evita el suavizado */
    image-rendering: pixelated; /* Muestra la imagen más nítida */
}

.wallet-modo :hover{
    background-color: #048063;
}

/* Consultas de medios para hacer el diseño responsive */
@media (max-width: 768px) {
    .wrapper {
        padding: 15px;
    }

    .centered-title {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    input[type="number"] {
        font-size: 14px;
    }

    h2 {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .wrapper {
        padding: 10px;
    }

    .centered-title {
        font-size: 18px;
    }

    p {
        font-size: 12px;
    }

    input[type="number"] {
        font-size: 12px;
    }

    h2 {
        font-size: 14px;
    }
}

