/* CSS para la lista de empleados en la página de eliminación */

/* Estilos para el contenedor principal */
.wrapper-container {
    font-family: 'Poppins', sans-serif;
    background: #000000;
    background: linear-gradient(to right, #161616, #000000);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 20px;
}

/* Estilo para el contenedor de la lista de empleados */
.wrapper {
    margin-bottom: 300px;
    width: 100%;
    max-width: 800px; /* Ajusta el tamaño máximo si es necesario */
}

/* Estilo para la lista de empleados */
.employee-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre los elementos */
}

/* Estilo para cada elemento de la lista */
.employee-item {
    background: #333333;
    border-radius: 8px;
    padding: 20px;
    width: calc(30% - 20px); /* Ajusta el tamaño según el espacio disponible y el diseño deseado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Estilo para los detalles del empleado */
.employee-details {
    text-align: center;
    margin-bottom: 15px;
}

/* Estilo para el botón de eliminar */
.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

/* Estilo para el botón de eliminar con fondo rojo */
.btn-danger {
    background-color: #e74c3c;
    color: #ffffff;
}

.btn:hover {
    background-color: #da3c2a;
}

/* Estilo para el encabezado */
h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #fff;
}