.mis-comercios-container {
    font-family: 'Poppins', sans-serif;
    background: #000000;
    background: linear-gradient(to right, #161616, #000000);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

/* Contenedor de la lista de comercios */
.comercio-list {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    background-color: #16161670;
    margin-bottom: 120px;
    border-radius: 10px;
}

/* Flexbox para organizar los comercios */
.comercios-flexbox {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between; /* Distribuye los comercios uniformemente */
}

/* Estilo para cada comercio como un rectángulo pequeño */
.comercio-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    width: calc(33.333% - 15px); /* Tres elementos por fila */
    font-size: 18px;
    background-color: #00BFFF;
    color: #000;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto hover para los comercios */
.comercio-item:hover {
    background-color: #0080FF;
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.comercio-list h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Estilo para el nombre del comercio */
.comercio-item h3 {
    margin: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

/* Estilo para la dirección del comercio */
.comercio-item p {
    margin: 5px 0 0 0;
    font-size: 14px;
    color: #eee;
    text-align: center;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .comercio-item {
        width: calc(50% - 15px); /* Dos elementos por fila en pantallas medianas */
    }
}

@media (max-width: 480px) {
    .comercio-item {
        width: 100%; /* Un elemento por fila en pantallas pequeñas */
    }
}



