/* Estilo para el contenedor principal que actúa como body */
.wrapper-container {
    font-family: 'Poppins', sans-serif;
    background: #000000;
    background: linear-gradient(to right, #161616, #000000);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 20px;
}

.wrapper {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.botones-accion {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.botones-accion .btn {
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #00BFFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.botones-accion .btn:hover {
    background-color: #0080FF;
    transform: translateY(-3px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

.form-group input[disabled] {
    background-color: #f0f0f0;
    color: #999;
}

.botones-accion {
    text-align: center;
    margin-top: 20px;
}

.botones-accion .btn {
    background: #0072FF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
}

.botones-accion .btn:hover {
    background: #0056b3;
}

.botones-accion .btn:last-child {
    margin-right: 0;
    background: #ccc;
    color: #333;
}

/* Estilo para los mensajes */
.message-container {
    margin: 20px 0;
}

.message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.informacion-comercio p {
    font-size: 17px;
    margin-bottom: 10px;
    padding-left: 10px;
    border-left: 3px solid #000000; /* Agrega una barra lateral para destacar la información */
}

.informacion-comercio strong {
    font-weight: bold;
    color: #000;
}