{% extends 'web/base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/faq.css' %}">
    <title>FAQ</title>
</head>
<body>
    <div class="wrapper-container">

        <div class="wrapper">
            <h1>1. ¿Quienes Somos?</h1>
            <h2>2. ¿Que hacemos?</h2>
            <h3>3. ¿Cual es nuestra comision?</h3>
            
        </div>

    </div>
</body>

{% endblock %}
</html>