/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container { /* O un contenedor que envuelva tu contenido principal y los formularios */
    flex: 1; /* Ocupa el espacio disponible */
    overflow-y: auto; /* Permite el desplazamiento vertical si el contenido es más largo */
}


.form-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #ffffff00;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffffff;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #cccccc00;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    color: #916a01;
}

button[type="submit"] {
    background-color: #916a01;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 20px auto;
    display: block;
}

button[type="submit"]:hover {
    background-color: #af8102;
}

/* Centrar el h1 */
.centered-title {
    text-align: center;
    color: #d09e3b;
    font-size: 28px;
}




